* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

table {
  border-collapse: collapse;
  margin: 50px auto;
}

th {
  font-weight: 600;
  margin: auto;
  background-color: rgb(255, 213, 134);

}

tr:nth-child(2n) {
  background-color: rgb(255, 234, 196);
}

td {
  text-align: left;
}

th,
td {
  padding: 15px;
  border: 3px solid #ffffff;
}

.table-btn{
  text-align: center;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
}

.btn img {
  width: 25px;
}

.btn-add{
  margin: 50px;
}

select{
    width: 300px;
    padding: 10px 20px;
    color: black;
    background-color: whitesmoke;
    border: 2px solid grey;
    border-radius: 50px;
    outline: none;
}